//Colors
$primary: #2CBED8;
$secondary: #D4EBEB;
$dark: #466978;
$black: #222729;

//Font

$font-family: 'Montserrat';

h1 {
    font-size: 2rem !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

.img-circle {
    border-radius: 50% !important;
    border: #D4EBEB 1px solid;
    width: 150px;
    height: 150px;
}

.header {
    height: 150px;
    align-items: center;
}

//buttons
.btn-primary{
     --bs-btn-color:white;
     --bs-btn-hover-color: white;
     --bs-btn-active-color: white;
}