<form method="post" action="{{ path('app_benevol_delete', {'id': benevol.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ benevol.id) }}">
    <button class="btn">Delete</button>
</form>
